<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="request" stopProcessing="true">
                    <match url="(.*)gpi/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://127.0.0.1:8080/{R:0}" />
                </rule>
                <rule name="Login" stopProcessing="true">
                    <match url="(.*)gpi/user(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://10.74.97.87/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
