/*
 *
 *   Additional CSS added by Dongxu
 *   version 0.1
 *
*/

/* loader #1*/
@keyframes page-load {
    from {
        background-color: #ffc422;
    }
    to {
        background-color: #c0392b;
    }
}
.page-loading::before {
    content:" ";
    display:block;
    position:fixed;
    z-index:10;
    height:2px;
    width:100%;
    top:0;
    left:0;
    background-color:#06D;
    animation: page-load infinite ease-out 2s;
    box-shadow:0 2px 2px rgba(0,0,0,.2);
}

/* loader #2 */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bouncing-dots {
    display: flex;
    justify-content: space-between;
    width: 60px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #FF5C35;
    border-radius: 50%;
    animation: bounce 1.5s infinite;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
  

/* loader #3 */
#loaderx {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }

  /*   colors */
  .whitetext {
    color: white;
    padding: 8px;
  }

  .success {background-color: #04AA6D;} /* Green */
  .info {background-color: #2196F3;} /* Blue */
  .warning {background-color: #ff9800;} /* Orange */
  .danger {background-color: #f44336;} /* Red */
  .other {background-color: #e7e7e7; color: black;} /* Gray */


  .errorValidation {
    font-size: 80%; 
    color: red;
    display: none;
  }  
  
  /* .form-control::placeholder {
    color: green !important;
    size: 0.5em;
    opacity: 0.5;
} */
  .form-control::-moz-placeholder {
    color: #008752 !important;
    opacity: 1;
    size: 0.5em;
  }
  .form-control:-ms-input-placeholder {
    color: #008752 !important;
    size: 0.5em;
  }
  .form-control::-webkit-input-placeholder {
    color: #008752 !important;
    size: 0.5em;
  }

  /* ibox */
  .ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.wrapper-content {
    padding: 20px;
    height: 100%;
}

.gray-bg {
    background-color: #f3f3f4;
    height: 100%;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float:left;
}

.ibox-content {
    clear:both;
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    /*margin-top: 3px;*/
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 5px 0px;
}


.rag-green {
    background-color: #33cc3344;
}

/****** for login page ***********/
.login-container {
    min-height: 100%;
    width: 100%;
    height: 100%;
    background: url(/request/static/login/images/nokia-bg-img.4d9d5950.png) no-repeat center center fixed;
    background-repeat: no-repeat, no-repeat;
    background-position: 100% 100%, 30% 50%;
    background-size: 100% 100%, 100% 110%;
    overflow: hidden;
}
.app {
    height: 100%;
    box-sizing:border-box;
    display: block;
}

.login-left {
    width: 55%;
    height: 100%;
    float: left;
    background: url(/request/static/login/images/nokia-N-white.a42da45a.png) no-repeat;
    background-size: 120% 107.5%;
    background-position: 20% 0%;
}

.login-right {
    width: 40%;
    height: 100%;
    float: right;
}

html, body {
    height: 100%;
}

.login-top {
    height: 15%;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.login-middle {
    height: 50%;
    width: 400px;
    max-width: 100%;
    min-width: 300px;
    min-height: 400px;
    padding: 50px 35px 0;
    margin: 0 auto;
    overflow: hidden;
}

.login-bottom {
    height: 35%;
}

.title-container {
    position: relative;
}

.title {
    font-size: 26px;
    color: #005aff;
    margin: 0px auto 40px auto;
    text-align: center;
    font-weight: bold;
}

.el-input {
    position: relative;
    font-size: 14px;
}

.el-input input {
    background-color: transparent;
    border: 0px;
    -webkit-appearance: none;
    border-radius: 0px;
    padding: 12px 5px 12px 15px;
    height: 47px;
    caret-color: #FFF;
}

 .el-icon {
    background-color: transparent;
    border:none;
    -webkit-appearance: none;
    border-radius: 0px;
    padding: 12px 5px 12px 15px;
    height: 47px;
    color: white;
    margin-top: 8px;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa{ left:  0px;}
.right-addon .fa{ right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.input-inner {
    -webkit-appearance: none;
    /* background-color: #FFF; */
    background-image: none;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* color: #606266; */
    color: white;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
/****** for login page, end***********/